{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'sightings/style.css' %}">
<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <title>home</title></head>
  
  <body style="background-color:powderblue;">
    <h2 style="font-family:verdana;text-align:center;">Group Project of Tools for Analytics</h2>
    <h4 style="font-family:verdana;text-align:center;">Authors: Jiyao Li, Hanyu Wu</h4>
    <ul style="list-style-type:square;">
      <li>
        <a href="/sightings/map/">Map of squirrels</a></li>
      <br>
      <li>
        <a href="/sightings/sightings/">Signting data of squirrels</a></li>
    </ul>
  </body>

</html>

